/* provide css to background of list items */
#operator {
  display: flex;
  position: absolute;
  background-color: white;
  min-width: 185px;
}
/* provide css to list items */
#operator a {
  display: flex;
  font-size: 18px;
  background-color: #ddd;
  color: black;
  text-decoration: none;
  padding: 10px;
}

.result {
  background: yellow;
  text-transform: uppercase;
}

.sign_list {
  font-size: 18px;
  color: black;
}

.sign_list.active {
  font-size: 18px;
  color: rgb(227, 13, 13);
}
